<style>
#demo{
    text-align: center;
}
</style>

<div class="intro">
    <p>{{description}}</p>
</div>

<div id="demo" class="example">
    <a class="button" target="_blank" href="simple-scrollanim-example.html">
        View Example in New Window
    </a>
</div>

<h2 id="source">Full Source</h2>
<p>JS source code</p>
```
    YUI.use('gallery-scrollanim', function(){
        {{>simple-source-js}}
    });
```
<p>CSS source code</p>