<div id="scrollanim-container">
    <section id="horizontalScrollArea">
        <div class="bg"></div>
        <div class="earth"></div>
        <div class="mg"></div>
        <div class="fg"></div>
        <img class="meteor" src="{{{componentAssets}}}/meteor.png" alt="Meteor">
    </section>
</div>